/* Full document modifications */

body {
    background-image: url('../images/background.png');
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


/* Header Modifications */
.pagelink {
    color: #777;
}

.portfolio-name {
    color: white !important;
    background: #4aaaa5;
    padding: 5px;
    font-size: 2em;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#navBar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.navbarLinks {
    float: right;
}

/* Universal modifications for body content */
.mainbox {
    text-align: center;
    margin-top: 1.5em;
    background: #fff;
    border: 1px solid #ddd;
}

.content-header {
    color: #4aaaa5;
    padding: 5px;
    margin-bottom: 0px;
}

hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #ddd;
}

h2 {
    position: relative;
    left: 1rem;
}


/* Modifications for Contact Page */
.submitbutton {
    background-color: #4aaaa5 !important;
    border: 2px outset #4aaaa5;
    float: left;
}

/* Modifications for about page */
.profilePic {
    float: left;
    padding: .25em;
    position: relative;
    right: 1em;
    padding-bottom: .5rem;
}


/* Modifications for footer */

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #666;    
    height: 2.5rem;
    border-top: .4rem solid #4aaaa5;
}

.copyright {
    color: white;
    font-size: .75rem;
}