/* Full document modifications */
body {
    background-image: url('../images/background.png');
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}



/* Header Modifications */
.pagelink {
    color: #def2f1;
}

.portfolio-name {
    color: #feffff !important;
    background: #3aafa9;
    padding: .25rem;
    font-size: 2rem;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#navBar {
    border-bottom: 1px solid #feffff;
    padding: 0 5rem;
}





/* Universal modifications for body content */
.mainbox {
    text-align: center;
    margin-top: 5.5rem;
    background: #feffff;
    border: 1px solid #feffff;
}

.content-header {
    color: #3aafa9;
    padding: 5px;
    margin-bottom: 0px;
}

hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #ddd;
}

h2 {
    position: relative;
    left: 1rem;
}




/* Modifications for Contact Page */
.submitbutton {
    background-color: #2b7a78 !important;
    border: 2px outset #2b7a78;
    float: left;
}

.button_color {
    background-color: #2b7a78 !important;
    border: 2px outset #2b7a78;
}



/* Modifications for about page */
.profilePic {
    float: left;
    padding: .25em;
    position: relative;
    right: 1em;
    padding-bottom: .5rem;
    min-width: 150px;
}





/* Modifications for portfolio page */
.portfolio_card {
    margin-bottom: 1rem;
    border: none;
}

.card_body {
    background-color: #feffff;
    border: none;
}




/* Modifications for footer */
.footer_padding {
    height: 3.5rem;
    width: 50%;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #17252A;
    height: 2.5rem;
    border-top: .4rem solid #2b7a78;
}

.copyright {
    color: white;
    font-size: .75rem;
}




/* Media Queries */
@media screen and (max-width: 576px) {
    #navBar {
        border-bottom: 1px solid #feffff;
        padding: 0;
    }

    /* 
    .footer {
        position: absolute;
        bottom: 0;
    } */
}


/* Color Pallet */
/*
    color: #17252A;
    color: #2b7a78;
    color: #3aafa9;
    color: #def2f1;
    color: #feffff;
*/